# Gradle и папки сборки
.gradle/
build/
**/build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Android и логи
*.apk
*.aar
*.log
/app/libs/
/app/src/main/assets/sing-box
/service_account_credentials.json
jniLibs/
/library/libcore_build/
/nkmr

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.sublime-workspace
*.sublime-project
.idea/deploymentTargetDropDown.xml

# Секреты и конфиги (важно!)
*.keystore
*.jks
signing.properties
google-services.json
service_account_credentials.json

# Системные файлы
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp

# Бэкапы и внешние данные
/_legacy_backup/
/external/
/XTrustVPN/app/release/output.json
